.nav {
    display: flex;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#welcome {
    
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.titles {
    text-align: center;
  }
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.skills {
background-color: DodgerBlue;
}
.left,
.center,
.right {
    
}

.left {
    
}

.welcometext {
    text-align: center;
}

.right {

}
.left {
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family:arial;
}
.inline-block {
    display: inline-block;
    
}